.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}

.top-buffer {
  margin-top:35px;
}

.logo {
  max-width:35px;
  margin-top: -7px;
}

.card-fixed-width {
  width: 400px; /* 你想要設置的寬度 */
